*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

li, a, button {
  font-family: 'Merriweather', serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: #0088a9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s; 
}

body {
    background-image: url(img/West_Cudi.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

#myAlbums, #gdTopFive {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    flex-direction: row;
  }

.card {
    width: 200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
     border-width: 3px;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(#FF7F11), to(rgba(1, 1, 1, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(#FF7F11, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(#FF7F11, rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image:
      -o-linear-gradient(#FF7F11, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, #FF7F11, rgba(0, 0, 0, 0)) 1 100%;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 10px; 
    background: rgb(29, 29, 29);
  }

  .card img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    display: block;
    border: 1px solid #fff;
    margin: 0 auto;
  }

  .card:hover {
    transform: scale(1.1);
  }

  .btn {
    border-radius: 4px;
    background-image: linear-gradient(to bottom right, #ff7f11, #de1a1a);
  }

  #title {
    color: #fff;
    font-family: 'Vollkorn', serif;
    text-align: center;
    font-size: 60px;
  }

  #font {
      color: #fff;
      font-family: 'Merriweather', serif;
      font-size: 15px;
  }